#app #parent-body {
  width: 100%;
  height: 275px;
  display: flex;
  margin-bottom: 30px; }

#app #parent-body .seckill {
  position: relative;
  width: 190px;
  height: 275px;
  background: #e83632; }

#app #parent-body .seckill p.font {
  font-size: 35px;
  color: #fff;
  text-align: center;
  padding-top: 45px; }

#app #parent-body .seckill .h3-font {
  color: rgba(255, 255, 255, 0.5);
  text-align: center; }

#app #parent-body .seckill .lightning {
  position: absolute;
  left: 86px;
  top: 126px;
  display: block;
  width: 20px;
  height: 33px;
  background: url(//misc.360buyimg.com/mtd/pc/index_2017/2.1.0/static/images/sprite.seckill.png) -35px -25px; }

#app #parent-body .seckill .p-font {
  color: #fff;
  text-align: center;
  font-size: 16px;
  margin-top: 60px; }

#app #parent-body ul.slides {
  width: 800px;
  height: 275px;
  display: flex;
  position: relative; }

#app #parent-body ul.slides li.item {
  width: 200px;
  height: 275px;
  background: #fff;
  border-right: 1px solid #f0f0f0;
  text-align: center; }
  #app #parent-body ul.slides li.item:hover {
    opacity: 0.8; }

#app #parent-body ul.slides li.item img {
  margin-top: 40px; }
  #app #parent-body ul.slides li.item img:hover {
    opacity: 0.8; }

#app #parent-body ul.slides li.item p.link {
  margin-top: 1rem;
  margin-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

#app #parent-body ul.slides li.item p.link a {
  color: #666;
  font-size: 12px; }

#app #parent-body ul.slides li.item p.link a:hover {
  color: #e83632; }

#app #parent-body ul.slides li.item ul.slide2 li.item2 {
  height: 20px;
  width: 160px;
  margin-top: 0.8rem;
  margin-left: 1.3rem;
  display: flex; }

#app #parent-body ul.slides li.item ul.slide2 li.item2 div {
  width: 80px;
  height: 20px;
  background: #e83632;
  color: #fff;
  text-align: center;
  line-height: 20px; }

#app #parent-body ul.slides li.item ul.slide2 li.item2 div:nth-child(2) {
  background: #fff;
  color: #b7bcb8;
  font-size: 12px;
  text-decoration: line-through; }

#app #parent-body ul.slides li[class="indicator-right"] {
  position: absolute;
  text-align: center; }

#app #parent-body ul.slides li[class="indicator-right"] a {
  display: inline-block;
  width: 1.5rem;
  height: 3rem;
  background: rgba(0, 0, 0, 0.3);
  line-height: 3rem;
  margin-top: 95px; }

#app #parent-body ul.slides li[class="indicator-right"] a:hover {
  background: rgba(0, 0, 0, 0.6); }

#app #parent-body ul.slides li[class="indicator-left"] {
  position: absolute;
  text-align: center; }

#app #parent-body ul.slides li[class="indicator-left"] a {
  display: inline-block;
  width: 1.5rem;
  height: 3rem;
  background: rgba(0, 0, 0, 0.3);
  line-height: 3rem;
  margin-top: 95px;
  margin-left: 48.5rem; }

#app #parent-body ul.slides li[class="indicator-left"] a:hover {
  background: rgba(0, 0, 0, 0.6); }

#app #parent-body #aslde-left {
  width: 200px;
  height: 275px;
  background: #fff; }

#app #parent-body #aslde-left div.img {
  position: relative;
  width: 180px;
  height: 260px;
  margin-top: 6px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden; }

#app #parent-body #aslde-left div.img div.aslde-left-indicator a {
  position: absolute;
  top: 235px;
  left: 80px;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background: #ccc;
  margin-top: 5px; }

#app #parent-body #aslde-left div.img div.aslde-left-indicator a:hover {
  background: #e83632; }

#app #parent-body #aslde-left div.img div.aslde-left-indicator a.indicator2 {
  left: 90px; }

#app #floor2 {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px; }
  #app #floor2 div.floor2-left {
    background: #fff;
    width: 390px;
    height: 450px; }
    #app #floor2 div.floor2-left a.floor2-top {
      display: flex;
      width: 350px;
      height: 60px;
      padding: 0px 20px;
      line-height: 60px; }
      #app #floor2 div.floor2-left a.floor2-top h2 {
        color: #222;
        font-weight: 500; }
      #app #floor2 div.floor2-left a.floor2-top img {
        width: 23px;
        height: 23px;
        margin: 20px 5px; }
      #app #floor2 div.floor2-left a.floor2-top p {
        color: #999;
        font-size: 14px; }
    #app #floor2 div.floor2-left div.floor2-middle {
      position: absolute;
      width: 390px;
      height: 390px;
      top: 60px; }
      #app #floor2 div.floor2-left div.floor2-middle .floor2-middle-top {
        width: 390px;
        height: 34px;
        background: #f7f7f7;
        display: flex;
        justify-content: space-around;
        align-items: center; }
        #app #floor2 div.floor2-left div.floor2-middle .floor2-middle-top li a {
          color: #666;
          font-size: 12px; }
          #app #floor2 div.floor2-left div.floor2-middle .floor2-middle-top li a:hover {
            color: #e83632; }
    #app #floor2 div.floor2-left .floor2-middle-bottom {
      width: 350px;
      height: 321px;
      position: absolute;
      top: 95px;
      padding: 0px 20px; }
      #app #floor2 div.floor2-left .floor2-middle-bottom .floor2-middle-bottom-top a {
        display: flex;
        width: 350px;
        height: 107px;
        align-items: center; }
        #app #floor2 div.floor2-left .floor2-middle-bottom .floor2-middle-bottom-top a img:hover {
          opacity: 0.8; }
        #app #floor2 div.floor2-left .floor2-middle-bottom .floor2-middle-bottom-top a span {
          display: block;
          width: 30px;
          height: 40px;
          font-size: 32px;
          color: #e74240;
          text-align: center;
          line-height: 40px;
          margin-left: 20px; }
          #app #floor2 div.floor2-left .floor2-middle-bottom .floor2-middle-bottom-top a span:hover {
            color: #e83632; }
        #app #floor2 div.floor2-left .floor2-middle-bottom .floor2-middle-bottom-top a p {
          font-size: 12px;
          color: #333; }
          #app #floor2 div.floor2-left .floor2-middle-bottom .floor2-middle-bottom-top a p:hover {
            color: #e83632; }
      #app #floor2 div.floor2-left .floor2-middle-bottom .floor2-middle-bottom-top a:nth-child(2) span {
        color: #ed713d; }
      #app #floor2 div.floor2-left .floor2-middle-bottom .floor2-middle-bottom-top a:nth-child(3) {
        border-bottom: 1px solid #f0f0f0; }
      #app #floor2 div.floor2-left .floor2-middle-bottom .floor2-middle-bottom-top a:nth-child(3) span {
        color: #feb185; }
    #app #floor2 div.floor2-left .floor2-middle-baseline {
      position: absolute;
      top: 417px;
      text-align: center;
      width: 390px;
      height: 32px; }
      #app #floor2 div.floor2-left .floor2-middle-baseline a {
        position: relative;
        z-index: 1;
        display: block;
        width: 0.48rem;
        height: 0.48rem;
        border-radius: 50%;
        border: 2px solid #ccc;
        margin: 10px auto;
        left: -20px; }
        #app #floor2 div.floor2-left .floor2-middle-baseline a:hover {
          background: #eb3436;
          box-shadow: 0px 0px 4px 3px #eb3436; }
      #app #floor2 div.floor2-left .floor2-middle-baseline a:nth-child(2) {
        top: -22px;
        left: -5px;
        width: 0.5rem;
        height: 0.5rem; }
  #app #floor2 .floor-center {
    background: #fff;
    width: 390px;
    height: 450px; }
    #app #floor2 .floor-center a.floor2-top {
      display: flex;
      width: 350px;
      height: 60px;
      background: #fff;
      padding: 0px 20px;
      line-height: 60px; }
      #app #floor2 .floor-center a.floor2-top h2 {
        color: #222;
        font-weight: 500; }
      #app #floor2 .floor-center a.floor2-top img {
        width: 23px;
        height: 23px;
        margin: 20px 5px; }
      #app #floor2 .floor-center a.floor2-top p {
        color: #999;
        font-size: 14px; }
    #app #floor2 .floor-center .floor2-center {
      width: 350px;
      height: 390px;
      padding: 0px 20px; }
      #app #floor2 .floor-center .floor2-center .floor2-center-item {
        width: 100%;
        height: 355px;
        position: relative;
        border-bottom: 1px solid #f0f0f0; }
        #app #floor2 .floor-center .floor2-center .floor2-center-item a img:first-child:hover {
          opacity: 0.8; }
        #app #floor2 .floor-center .floor2-center .floor2-center-item a img + img {
          margin: 1.2rem 0px; }
          #app #floor2 .floor-center .floor2-center .floor2-center-item a img + img:hover {
            opacity: 0.8; }
        #app #floor2 .floor-center .floor2-center .floor2-center-item a h3 {
          text-align: center;
          margin-top: -5px;
          color: #222; }
          #app #floor2 .floor-center .floor2-center .floor2-center-item a h3:hover {
            color: #eb3436; }
        #app #floor2 .floor-center .floor2-center .floor2-center-item a p {
          width: 100%;
          height: 40px;
          font-size: 14px;
          overflow: hidden;
          margin-top: 14px;
          color: #666; }
          #app #floor2 .floor-center .floor2-center .floor2-center-item a p:hover {
            color: #eb3436; }
        #app #floor2 .floor-center .floor2-center .floor2-center-item .floor2-center-aside a {
          position: absolute;
          top: 153.5px;
          width: 1.5rem;
          height: 3rem;
          left: -20px;
          background: rgba(0, 0, 0, 0.1);
          text-align: center;
          line-height: 3rem; }
        #app #floor2 .floor-center .floor2-center .floor2-center-item .floor2-center-aside a:nth-child(2) {
          left: 346px; }
      #app #floor2 .floor-center .floor2-center .floor2-middle-baseline {
        position: absolute;
        top: 417px;
        text-align: center;
        width: 350px;
        height: 32px; }
        #app #floor2 .floor-center .floor2-center .floor2-middle-baseline a {
          position: relative;
          z-index: 1;
          display: block;
          width: 0.48rem;
          height: 0.48rem;
          border-radius: 50%;
          border: 2px solid #ccc;
          margin: 10px auto;
          left: -20px; }
          #app #floor2 .floor-center .floor2-center .floor2-middle-baseline a:hover {
            background: #eb3436;
            box-shadow: 0px 0px 4px 3px #eb3436; }
        #app #floor2 .floor-center .floor2-center .floor2-middle-baseline a:nth-child(2) {
          top: -22px;
          left: -5px;
          width: 0.5rem;
          height: 0.5rem; }
        #app #floor2 .floor-center .floor2-center .floor2-middle-baseline a:nth-child(3) {
          top: -44px;
          left: 10px;
          width: 0.5rem;
          height: 0.5rem; }
  #app #floor2 .floor-right {
    background: #fff;
    width: 390px;
    height: 450px; }
    #app #floor2 .floor-right a.floor2-top {
      display: flex;
      width: 350px;
      height: 60px;
      background: #fff;
      padding: 0px 20px;
      line-height: 60px; }
      #app #floor2 .floor-right a.floor2-top h2 {
        color: #222;
        font-weight: 500; }
      #app #floor2 .floor-right a.floor2-top img {
        width: 23px;
        height: 23px;
        margin: 20px 5px; }
      #app #floor2 .floor-right a.floor2-top p {
        color: #999;
        font-size: 14px; }
    #app #floor2 .floor-right .floor2-middle {
      width: 350px;
      height: 354px;
      padding: 0px 20px;
      background: #fff; }
      #app #floor2 .floor-right .floor2-middle .floor2-middle-parent {
        border-bottom: 1px solid #f0f0f0; }
      #app #floor2 .floor-right .floor2-middle .floor2-middle-parent li {
        width: 100%;
        height: 118px;
        background: #f6f6f6;
        display: flex;
        justify-content: space-around;
        align-items: center; }
        #app #floor2 .floor-right .floor2-middle .floor2-middle-parent li:hover {
          opacity: 0.8; }
        #app #floor2 .floor-right .floor2-middle .floor2-middle-parent li a:first-child {
          width: 84px;
          height: 65px;
          text-align: center;
          padding-top: 15px;
          padding-bottom: 15px;
          background: #fff;
          border-radius: 50%; }
        #app #floor2 .floor-right .floor2-middle .floor2-middle-parent li a:nth-child(2) {
          width: 200px;
          height: 80px; }
          #app #floor2 .floor-right .floor2-middle .floor2-middle-parent li a:nth-child(2) h2 {
            color: red; }
          #app #floor2 .floor-right .floor2-middle .floor2-middle-parent li a:nth-child(2) p {
            color: #b1b3b0;
            font-size: 14px;
            margin: 3px 0px; }
          #app #floor2 .floor-right .floor2-middle .floor2-middle-parent li a:nth-child(2) h5 {
            color: #767b77;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis; }
            #app #floor2 .floor-right .floor2-middle .floor2-middle-parent li a:nth-child(2) h5:hover {
              color: #eb3436; }
        #app #floor2 .floor-right .floor2-middle .floor2-middle-parent li a:nth-child(3) {
          width: 20px;
          height: 110px;
          font-size: 12px;
          color: #333; }
          #app #floor2 .floor-right .floor2-middle .floor2-middle-parent li a:nth-child(3):hover {
            color: #eb3436; }
      #app #floor2 .floor-right .floor2-middle .floor2-middle-parent li:nth-child(2) {
        background: #eeefed; }
    #app #floor2 .floor-right .floor2-middle-baseline {
      position: absolute;
      top: 417px;
      text-align: center;
      width: 350px;
      height: 32px; }
      #app #floor2 .floor-right .floor2-middle-baseline a {
        position: relative;
        display: block;
        width: 0.48rem;
        height: 0.48rem;
        border-radius: 50%;
        border: 2px solid #ccc;
        margin: 0px auto;
        top: 12px;
        left: 0px; }
        #app #floor2 .floor-right .floor2-middle-baseline a:hover {
          background: #eb3436;
          box-shadow: 0px 0px 4px 3px #eb3436; }
      #app #floor2 .floor-right .floor2-middle-baseline a:nth-child(2) {
        top: 0px;
        left: 14px;
        width: 0.5rem;
        height: 0.5rem; }

#app #floor2 .floor-center .floor2-center-item .floor2-center-aside a:hover {
  background: rgba(0, 0, 0, 0.6); }

#app #floor3 {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: space-between;
  position: relative; }
  #app #floor3 div.floor3-left {
    background: #fff;
    width: 390px;
    height: 450px; }
    #app #floor3 div.floor3-left a.floor3-top {
      display: flex;
      width: 350px;
      height: 60px;
      padding: 0px 20px;
      line-height: 60px; }
      #app #floor3 div.floor3-left a.floor3-top h2 {
        color: #222;
        font-weight: 500; }
      #app #floor3 div.floor3-left a.floor3-top img {
        width: 23px;
        height: 23px;
        margin: 20px 5px; }
      #app #floor3 div.floor3-left a.floor3-top p {
        color: #999;
        font-size: 14px; }
    #app #floor3 div.floor3-left .floor3-middle {
      width: 350px;
      padding: 0px 20px;
      height: 355px; }
      #app #floor3 div.floor3-left .floor3-middle a {
        position: relative;
        display: block;
        width: 350px;
        height: 355px;
        border-bottom: 1px solid #f0f0f0; }
        #app #floor3 div.floor3-left .floor3-middle a img:hover {
          opacity: 0.8; }
        #app #floor3 div.floor3-left .floor3-middle a .floor3-a-div {
          width: 300px;
          height: 80px;
          margin-top: 1.23rem;
          margin-left: auto;
          margin-right: auto; }
          #app #floor3 div.floor3-left .floor3-middle a .floor3-a-div p:first-child {
            font-size: 16px;
            color: #333;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis; }
            #app #floor3 div.floor3-left .floor3-middle a .floor3-a-div p:first-child:hover {
              color: #e83632; }
          #app #floor3 div.floor3-left .floor3-middle a .floor3-a-div p:nth-child(2) {
            height: 35px;
            font-size: 12px;
            color: #999;
            overflow: hidden;
            margin-top: 10px; }
            #app #floor3 div.floor3-left .floor3-middle a .floor3-a-div p:nth-child(2):hover {
              color: #e83632; }
    #app #floor3 div.floor3-left .floor3-bottom {
      width: 390px;
      height: 34px;
      position: relative; }
      #app #floor3 div.floor3-left .floor3-bottom .floor3-bottom-item {
        width: 5rem;
        height: 2.1rem;
        margin: 0 auto;
        text-align: center;
        line-height: 2.1rem; }
        #app #floor3 div.floor3-left .floor3-bottom .floor3-bottom-item a {
          display: inline-block;
          width: 0.6rem;
          height: 0.6rem;
          border-radius: 50%;
          border: 2px solid #ccc; }
          #app #floor3 div.floor3-left .floor3-bottom .floor3-bottom-item a:hover {
            box-shadow: 0px 0px 3px 2px #e83632;
            background: #e83632; }
  #app #floor3 .floor3-center {
    background: #fff;
    width: 390px;
    height: 450px; }
    #app #floor3 .floor3-center a {
      display: flex;
      width: 350px;
      height: 60px;
      padding: 0 20px;
      align-items: center; }
      #app #floor3 .floor3-center a h2 {
        color: #222;
        font-weight: 500; }
      #app #floor3 .floor3-center a .floor3-center-item {
        width: 23px;
        height: 23px;
        margin: 20px 5px; }
      #app #floor3 .floor3-center a p {
        color: #999;
        font-size: 14px; }
    #app #floor3 .floor3-center .floor3-middle {
      width: 390px;
      box-sizing: border-box;
      padding: 0 15px;
      height: 387px;
      display: flex;
      flex-wrap: wrap; }
      #app #floor3 .floor3-center .floor3-middle li {
        width: 180px;
        height: 184px; }
        #app #floor3 .floor3-center .floor3-middle li .floor3-middle-item {
          display: block;
          width: 180px;
          height: 184px;
          text-align: center;
          padding: 0px 0px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }
          #app #floor3 .floor3-center .floor3-middle li .floor3-middle-item img {
            margin-top: 0.8rem; }
            #app #floor3 .floor3-center .floor3-middle li .floor3-middle-item img:hover {
              opacity: 0.8; }
          #app #floor3 .floor3-center .floor3-middle li .floor3-middle-item p {
            color: #3e8c96; }
            #app #floor3 .floor3-center .floor3-middle li .floor3-middle-item p:hover {
              color: #e83632; }
          #app #floor3 .floor3-center .floor3-middle li .floor3-middle-item span {
            font-size: 12px;
            color: #666; }
            #app #floor3 .floor3-center .floor3-middle li .floor3-middle-item span:hover {
              color: #e83632; }
  #app #floor3 .floor3-right {
    background: #fff;
    width: 390px;
    height: 450px; }
    #app #floor3 .floor3-right .floor3-right-top a {
      display: flex;
      width: 350px;
      height: 60px;
      padding: 0px 20px;
      align-items: center; }
      #app #floor3 .floor3-right .floor3-right-top a h2 {
        color: #222;
        font-weight: 500; }
      #app #floor3 .floor3-right .floor3-right-top a img {
        width: 23px;
        height: 23px;
        margin: 20px 5px; }
      #app #floor3 .floor3-right .floor3-right-top a p {
        color: #999;
        font-size: 14px; }
    #app #floor3 .floor3-right .floor3-right-middle {
      width: 350px;
      height: 250px;
      padding: 0 20px; }
      #app #floor3 .floor3-right .floor3-right-middle:hover {
        opacity: 0.8; }
    #app #floor3 .floor3-right .floor3-right-bottom {
      width: 350px;
      height: 137px;
      padding: 0 20px; }
      #app #floor3 .floor3-right .floor3-right-bottom img:hover {
        opacity: 0.8; }

#app .product-body {
  position: relative;
  width: 1190px;
  margin: 0 auto; }

#app .product-body .floor3-tag {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center; }
  #app .product-body .floor3-tag .floor3-tag-meun {
    display: flex;
    width: 250px;
    height: 45px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center; }
    #app .product-body .floor3-tag .floor3-tag-meun h2 {
      font: lighter 30px "sans-serif";
      color: #222;
      text-shadow: 1px -1.2px 0px #222; }
    #app .product-body .floor3-tag .floor3-tag-meun .floor3-item1, #app .product-body .floor3-tag .floor3-tag-meun .floor3-item2 {
      width: 50px;
      height: 3px;
      background: #222; }

#app .product-body .floor4 {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px; }
  #app .product-body .floor4 .floor4-left {
    width: 350px;
    height: 450px;
    padding: 0 20px;
    background: #fff; }
    #app .product-body .floor4 .floor4-left .floor4-left-top a {
      width: 100%;
      height: 60px;
      display: flex;
      align-items: center; }
      #app .product-body .floor4 .floor4-left .floor4-left-top a h2 {
        color: #222;
        font-weight: 500; }
      #app .product-body .floor4 .floor4-left .floor4-left-top a img {
        width: 23px;
        height: 23px;
        margin: 20px 5px; }
      #app .product-body .floor4 .floor4-left .floor4-left-top a p {
        color: #999;
        font-size: 14px; }
    #app .product-body .floor4 .floor4-left .floor4-left-center {
      width: 350px;
      height: 180px; }
    #app .product-body .floor4 .floor4-left .floor4-left-center img {
      width: 100%;
      height: 180px; }
      #app .product-body .floor4 .floor4-left .floor4-left-center img:hover {
        opacity: 0.8; }
    #app .product-body .floor4 .floor4-left .floor4-left-bottom {
      width: 350px;
      height: 180px;
      display: flex;
      justify-content: space-between;
      margin-top: 10px; }
      #app .product-body .floor4 .floor4-left .floor4-left-bottom img:hover {
        opacity: 0.8; }
  #app .product-body .floor4 .floor4-center {
    width: 350px;
    height: 450px;
    padding: 0 20px;
    background: #fff; }
    #app .product-body .floor4 .floor4-center .floor4-center-top a {
      width: 100%;
      height: 60px;
      display: flex;
      align-items: center; }
      #app .product-body .floor4 .floor4-center .floor4-center-top a h2 {
        color: #222;
        font-weight: 500; }
      #app .product-body .floor4 .floor4-center .floor4-center-top a img {
        width: 23px;
        height: 23px;
        margin: 20px 5px; }
      #app .product-body .floor4 .floor4-center .floor4-center-top a p {
        color: #999;
        font-size: 14px; }
    #app .product-body .floor4 .floor4-center .floor4-center-middle {
      width: 350px;
      height: 180px; }
    #app .product-body .floor4 .floor4-center .floor4-center-middle img {
      width: 100%;
      height: 180px; }
      #app .product-body .floor4 .floor4-center .floor4-center-middle img:hover {
        opacity: 0.8; }
    #app .product-body .floor4 .floor4-center .floor4-center-bottom {
      width: 350px;
      height: 180px;
      display: flex;
      justify-content: space-between;
      margin-top: 10px; }
      #app .product-body .floor4 .floor4-center .floor4-center-bottom img:hover {
        opacity: 0.8; }
  #app .product-body .floor4 .floor-right {
    position: relative;
    width: 390px;
    height: 450px; }
    #app .product-body .floor4 .floor-right .class-bottom {
      width: 313px;
      height: 400px;
      position: absolute;
      top: 21px;
      left: 40px;
      background: #f0f3ef; }
    #app .product-body .floor4 .floor-right img {
      position: absolute;
      left: 20px; }
      #app .product-body .floor4 .floor-right img:hover {
        opacity: 0.8; }
    #app .product-body .floor4 .floor-right .class-bottom-item {
      width: 340px;
      height: 420px;
      border: 5px solid #000;
      margin-top: 21px;
      margin-left: 40px; }

#app .product-body .floor5 {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: space-between; }
  #app .product-body .floor5 img:hover {
    opacity: 0.8; }
  #app .product-body .floor5 .floor5-left {
    width: 390px;
    height: 450px;
    position: relative; }
    #app .product-body .floor5 .floor5-left .floor5-top {
      width: 340px;
      height: 420px;
      border: 5px solid #000;
      margin-top: 21px; }
    #app .product-body .floor5 .floor5-left .floor5-center {
      width: 340px;
      height: 420px;
      position: absolute;
      top: 0px;
      left: 30px;
      padding-right: 0;
      background: #f0f3ef; }
    #app .product-body .floor5 .floor5-left img {
      position: absolute;
      top: 0px;
      left: 30px; }
  #app .product-body .floor5 .floor5-center {
    width: 350px;
    height: 450px;
    position: relative;
    background: #fff;
    padding: 0 20px; }
    #app .product-body .floor5 .floor5-center .floor5-center-top {
      display: flex;
      width: 100%;
      height: 60px;
      align-items: center; }
      #app .product-body .floor5 .floor5-center .floor5-center-top h3 {
        font-weight: 200;
        color: #222; }
      #app .product-body .floor5 .floor5-center .floor5-center-top span {
        padding: 0 5px; }
      #app .product-body .floor5 .floor5-center .floor5-center-top p {
        color: #999;
        font-size: 12px; }
    #app .product-body .floor5 .floor5-center .floor5-middle {
      width: 350px;
      height: 134px;
      border-bottom: 1px solid #f0f0f0;
      display: flex;
      padding-bottom: 20px; }
      #app .product-body .floor5 .floor5-center .floor5-middle li {
        width: 175px;
        box-sizing: border-box;
        padding: 0 22.5px; }
        #app .product-body .floor5 .floor5-center .floor5-middle li a img {
          margin-top: 15px; }
          #app .product-body .floor5 .floor5-center .floor5-middle li a img:hover {
            opacity: 0.8; }
    #app .product-body .floor5 .floor5-center .my_ul {
      border: 0; }
  #app .product-body .floor5 .floor5-right {
    width: 350px;
    height: 450px;
    background: #fff;
    padding: 0 20px; }
    #app .product-body .floor5 .floor5-right .floor5-right-top {
      display: flex;
      width: 100%;
      height: 80px;
      align-items: center; }
      #app .product-body .floor5 .floor5-right .floor5-right-top .floor5-right-top-img {
        width: 130px;
        height: 43px; }
        #app .product-body .floor5 .floor5-right .floor5-right-top .floor5-right-top-img:hover {
          opacity: 0.8; }
      #app .product-body .floor5 .floor5-right .floor5-right-top p {
        color: #333;
        margin-left: 5px; }
    #app .product-body .floor5 .floor5-right .floor3-right-bottom {
      width: 100%;
      height: 137px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      #app .product-body .floor5 .floor5-right .floor3-right-bottom img {
        width: 100px;
        height: 100px; }

#app .product-body .floor6 {
  width: 100%;
  height: 470px; }
  #app .product-body .floor6 img:hover {
    opacity: 0.8; }
  #app .product-body .floor6 .floor6-text {
    width: 250px;
    height: 45px;
    margin: 35px auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    #app .product-body .floor6 .floor6-text h2 {
      font-weight: 200;
      color: #222;
      font-family: 'fzzzh', sans-serif;
      text-shadow: 1px -0.5px 0px #222; }
    #app .product-body .floor6 .floor6-text .floor6-text-item {
      width: 3rem;
      height: 0.2rem;
      background: #222; }
  #app .product-body .floor6 .floor-middle-carousel {
    width: 100%;
    height: 330px;
    position: relative;
    display: flex;
    justify-content: space-between; }
    #app .product-body .floor6 .floor-middle-carousel .floor-middle-carousel-item {
      width: 350px;
      height: 330px;
      padding: 0 20px;
      background: #fff; }
      #app .product-body .floor6 .floor-middle-carousel .floor-middle-carousel-item a {
        display: flex;
        width: 100%;
        height: 79px;
        align-items: center; }
        #app .product-body .floor6 .floor-middle-carousel .floor-middle-carousel-item a h2 {
          color: #222;
          font-weight: 500; }
        #app .product-body .floor6 .floor-middle-carousel .floor-middle-carousel-item a img {
          width: 23px;
          height: 23px;
          margin: 20px 5px; }
        #app .product-body .floor6 .floor-middle-carousel .floor-middle-carousel-item a p {
          color: #999;
          font-size: 14px; }
    #app .product-body .floor6 .floor-middle-carousel li.zhishifu a {
      position: absolute;
      left: 0px;
      top: 120px;
      width: 1.5rem;
      height: 5rem;
      text-align: center;
      line-height: 5rem;
      background: rgba(0, 0, 0, 0.3); }
      #app .product-body .floor6 .floor-middle-carousel li.zhishifu a:hover {
        background: rgba(0, 0, 0, 0.6); }
    #app .product-body .floor6 .floor-middle-carousel li.zhishifu a:nth-child(2) {
      left: 72.5rem;
      top: 120px; }
  #app .product-body .floor6 .floor-middle-bottom {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center; }
    #app .product-body .floor6 .floor-middle-bottom .floor-middle-bottom-item {
      width: 0.6rem;
      height: 0.6rem;
      border-radius: 50%;
      border: 2px solid #ccc;
      margin-left: 0.3rem; }
      #app .product-body .floor6 .floor-middle-bottom .floor-middle-bottom-item:hover {
        background: #e83632;
        box-shadow: 0px 0px 2px 2px #e83632; }
    #app .product-body .floor6 .floor-middle-bottom li.floor-middle-bottom-item:first-child {
      margin-left: 35rem; }

#app .product-body .floor7 {
  width: 100%;
  height: 537px;
  margin-bottom: 30px; }
  #app .product-body .floor7 img:hover {
    opacity: 0.8; }
  #app .product-body .floor7 .floor7-title {
    width: 100%;
    height: 85px; }
    #app .product-body .floor7 .floor7-title .floor7-title-parent {
      width: 250px;
      height: 45px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      #app .product-body .floor7 .floor7-title .floor7-title-parent .floor7-title-item {
        width: 3rem;
        height: 0.2rem;
        background: #222; }
      #app .product-body .floor7 .floor7-title .floor7-title-parent h2 {
        font-weight: 200;
        color: #222;
        font-family: 'fzzzh', sans-serif;
        text-shadow: 1px -0.5px 0px #222; }
  #app .product-body .floor7 .floor7-item {
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: space-between; }
    #app .product-body .floor7 .floor7-item .floor7-item-left {
      width: 350px;
      height: 450px;
      padding: 0 20px;
      background: #fff; }
      #app .product-body .floor7 .floor7-item .floor7-item-left .floor7-left-top {
        width: 100%;
        height: 55px;
        display: flex;
        align-items: center; }
        #app .product-body .floor7 .floor7-item .floor7-item-left .floor7-left-top h2 {
          color: #222;
          font-weight: 500; }
        #app .product-body .floor7 .floor7-item .floor7-item-left .floor7-left-top img {
          width: 23px;
          height: 23px;
          margin: 20px 5px; }
        #app .product-body .floor7 .floor7-item .floor7-item-left .floor7-left-top p {
          color: #999;
          font-size: 14px; }
    #app .product-body .floor7 .floor7-item .floor7-item-right a {
      margin-top: 5px;
      width: 100%;
      height: 180px;
      display: flex;
      justify-content: space-between; }
    #app .product-body .floor7 .floor7-item .floor-center {
      width: 350px;
      height: 450px;
      padding: 0 20px;
      background: #fff;
      margin-left: 7px; }
      #app .product-body .floor7 .floor7-item .floor-center .floor-center-top {
        display: flex;
        width: 100%;
        height: 80px;
        align-items: center; }
        #app .product-body .floor7 .floor7-item .floor-center .floor-center-top .floor-center-top-img {
          width: 130px;
          height: 43px;
          border: 1px solid #ccc; }
        #app .product-body .floor7 .floor7-item .floor-center .floor-center-top p {
          font-size: 18px;
          color: #333;
          margin-left: 10px; }
      #app .product-body .floor7 .floor7-item .floor-center .floor-center-bottom a {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-between;
        margin-top: 10px; }
    #app .product-body .floor7 .floor7-item .floor-right {
      width: 100%;
      height: 450px;
      position: relative; }
      #app .product-body .floor7 .floor7-item .floor-right .floor-right-box {
        width: 340px;
        height: 420px;
        border: 5px solid #000;
        margin-top: 21px;
        margin-left: 53px; }
      #app .product-body .floor7 .floor7-item .floor-right .floor-right-cover {
        width: 340px;
        height: 420px;
        position: absolute;
        left: 36px;
        top: 0px;
        background: #f0f3ef; }
      #app .product-body .floor7 .floor7-item .floor-right img {
        width: 340px;
        height: 420px;
        position: absolute;
        left: 36px;
        top: 0px; }

#app .product-body .floor8 {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: space-between; }
  #app .product-body .floor8 img:hover {
    opacity: 0.8; }
  #app .product-body .floor8 .floor-left {
    width: 390px;
    height: 450px;
    position: relative; }
    #app .product-body .floor8 .floor-left .floor-left-box {
      width: 340px;
      height: 420px;
      border: 5px solid #000;
      margin-top: 20px; }
    #app .product-body .floor8 .floor-left .floor-left-box1 {
      width: 340px;
      height: 420px;
      background: #f0f3ef;
      position: absolute;
      top: 0px;
      left: 33px; }
    #app .product-body .floor8 .floor-left a img {
      position: absolute;
      top: 0px;
      left: 35px; }
    #app .product-body .floor8 .floor-left a img:first-child {
      top: 220px;
      left: 35px; }
  #app .product-body .floor8 .floor-center {
    width: 350px;
    height: 450px;
    padding: 0 20px;
    background: #fff; }
    #app .product-body .floor8 .floor-center .floor-center-top {
      width: 100%;
      height: 65px;
      display: flex;
      align-items: center; }
      #app .product-body .floor8 .floor-center .floor-center-top h3 {
        font-weight: 400;
        color: #222; }
      #app .product-body .floor8 .floor-center .floor-center-top span {
        padding: 0 5px; }
      #app .product-body .floor8 .floor-center .floor-center-top p {
        color: #999; }
    #app .product-body .floor8 .floor-center .floor-center-middle {
      width: 100%;
      height: 150px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #f0f0f0; }
      #app .product-body .floor8 .floor-center .floor-center-middle li {
        width: 130px;
        padding: 0 20px;
        height: 130px; }
        #app .product-body .floor8 .floor-center .floor-center-middle li a {
          width: 130px;
          height: 130px;
          display: block; }
    #app .product-body .floor8 .floor-center .floor-center-bottom {
      width: 100%;
      height: 65px;
      display: flex;
      align-items: center; }
      #app .product-body .floor8 .floor-center .floor-center-bottom h3 {
        font-weight: 400;
        color: #222; }
      #app .product-body .floor8 .floor-center .floor-center-bottom span {
        padding: 0 5px; }
      #app .product-body .floor8 .floor-center .floor-center-bottom p {
        color: #999; }
    #app .product-body .floor8 .floor-center .floor-center-baseline {
      width: 100%;
      height: 150px;
      display: flex;
      justify-content: space-between; }
      #app .product-body .floor8 .floor-center .floor-center-baseline li {
        width: 130px;
        height: 130px;
        padding: 0 20px; }
  #app .product-body .floor8 .floor-right {
    width: 350px;
    height: 450px;
    padding: 0 20px;
    background: #fff; }
    #app .product-body .floor8 .floor-right .floor-top {
      display: flex;
      width: 100%;
      height: 60px;
      align-items: center; }
      #app .product-body .floor8 .floor-right .floor-top h2 {
        color: #222;
        font-weight: 500; }
      #app .product-body .floor8 .floor-right .floor-top img {
        width: 23px;
        height: 23px;
        margin: 20px 5px; }
      #app .product-body .floor8 .floor-right .floor-top p {
        color: #999;
        font-size: 14px; }
  #app .product-body .floor8 .floor-bottom {
    width: 100%;
    height: 355px; }

#app .product-body .flooter {
  width: 100%;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  #app .product-body .flooter .flooter-left {
    width: 230px;
    height: 42px;
    display: flex;
    align-items: center; }
    #app .product-body .flooter .flooter-left .flooter-img {
      width: 36px;
      height: 42px;
      background: url("../img/product/flooter/flooter01.png") no-repeat 0rem -12rem;
      margin-right: 0.7rem; }
    #app .product-body .flooter .flooter-left h3 {
      color: #444;
      font: 700 19px "fzzzh, sans-serif"; }

#app .footer {
  position: relative;
  width: 1190px;
  margin: 0 auto; }
  #app .footer .footer-top {
    width: 100%;
    height: 160px;
    border-bottom: 1px solid #e1e1e1;
    display: flex;
    padding: 20px 0; }
    #app .footer .footer-top dl {
      width: 198px;
      height: 159px; }
      #app .footer .footer-top dl a, #app .footer .footer-top dl p {
        color: #666;
        font-size: 12px; }
      #app .footer .footer-top dl a:hover {
        color: #e83632; }
      #app .footer .footer-top dl dd {
        margin-bottom: 5px;
        font: bolder 14px "fzzzh, sans-serif";
        color: #666; }
    #app .footer .footer-top dl:last-child {
      width: 198px;
      height: 150px;
      background: url("../img/product/flooter/flooter01.png") 0px -2px; }
      #app .footer .footer-top dl:last-child dd {
        text-align: center;
        margin-bottom: 1rem; }
      #app .footer .footer-top dl:last-child dt:last-child {
        margin-left: 125px; }
  #app .footer .footer-bottom {
    width: 100%;
    height: 215px;
    padding: 15px 0px; }
    #app .footer .footer-bottom p:first-child {
      margin-bottom: 0.5rem; }
    #app .footer .footer-bottom p + p a, #app .footer .footer-bottom span {
      color: #999;
      font-size: 12px; }
    #app .footer .footer-bottom p {
      text-align: center; }
      #app .footer .footer-bottom p a {
        font-size: 12px;
        color: #666; }
        #app .footer .footer-bottom p a:hover {
          color: #e83632; }
        #app .footer .footer-bottom p a span {
          padding: 0px 8px;
          color: #666; }
    #app .footer .footer-bottom p:nth-child(5) > span {
      display: inline-block;
      height: 12px;
      width: 15px;
      background: url("../img/product/flooter/flooter01.png") 200px -389px;
      margin-right: 3px; }
    #app .footer .footer-bottom p:nth-child(5) > span.span2 {
      background: url("../img/product/flooter/flooter01.png") 140px -389px; }
    #app .footer .footer-bottom p:nth-child(5) > span.span3 {
      background: url("../img/product/flooter/flooter01.png") 160px -389px; }
    #app .footer .footer-bottom p:nth-child(5) > span.span4 {
      background: url("../img/product/flooter/flooter01.png") 180px -389px; }
    #app .footer .footer-bottom p:nth-child(5) > span.span5 {
      background: url("../img/product/flooter/flooter01.png") 200px -405px; }
    #app .footer .footer-bottom p:last-child {
      margin-top: 2rem; }
      #app .footer .footer-bottom p:last-child a {
        display: inline-block;
        width: 103px;
        height: 32px;
        background: url(../img/product/flooter/flooter01.png) 104px -111px; }
      #app .footer .footer-bottom p:last-child a:nth-child(2) {
        background: url(../img/product/flooter/flooter01.png) 104px -74px; }
      #app .footer .footer-bottom p:last-child a:nth-child(3) {
        background: url(../img/product/flooter/flooter01.png) 104px -37px; }
      #app .footer .footer-bottom p:last-child a:nth-child(4) {
        background: url(../img/product/flooter/flooter01.png) 104px 0px; }
      #app .footer .footer-bottom p:last-child a:nth-child(5) {
        background: url(../img/product/flooter/flooter01.png) 309px -155px; }
