@mixin ta{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
$bg:#e83632;
#app #floor3{
  width: 100%;
  height: 450px;
  display:flex;
  justify-content:space-between;
  position:relative;
  div.floor3-left {
    background: #fff;
    width: 390px;
    height: 450px;
    a.floor3-top {
      display: flex;
      width: 350px;
      height: 60px;
      padding: 0px 20px;
      line-height: 60px;
      h2{
        color: #222;
        font-weight: 500;
      }
      img{
        width: 23px;
        height: 23px;
        margin: 20px 5px;

      }
      p{
        color: #999;
        font-size: 14px;
      }
    }
    .floor3-middle{
      width:350px;
      padding:0px 20px;
      height:355px;
      a{
        position:relative;
        display:block;
        width:350px;
        height:355px;
        border-bottom:1px solid #f0f0f0;
        img:hover{
          opacity:(0.8);
        }





        .floor3-a-div{
          width:300px;
          height:80px;
          margin-top:1.23rem;
          margin-left:auto;
          margin-right:auto;
          p:first-child{
            font-size:16px;
            color:#333;
            @include ta;
            &:hover{
              color:$bg;
            }
          }
          p:nth-child(2){
            height:35px;
            font-size:12px;
            color:#999;
            overflow:hidden;
            margin-top:10px;
            &:hover{
              color:$bg;
            }
          }
        }
      }
    }
    .floor3-bottom{
      width:390px;
      height:34px;
      position:relative;
      .floor3-bottom-item{
        width:5rem;
        height:2.1rem;
        margin:0 auto;
        text-align:center;
        line-height:2.1rem;
        a{
          display:inline-block;
          width:0.6rem;
          height:0.6rem;
          border-radius:50%;
          border:2px solid #ccc;
          &:hover{
            box-shadow:0px 0px 3px 2px $bg;
            background:$bg;
          }
        }
      }
    }
  }
  .floor3-center{
    background: #fff;
    width: 390px;
    height: 450px;
    a{
      display:flex;
      width:350px;
      height:60px;
      padding:0 20px;
      align-items:center;
      h2{
        color: #222;
        font-weight: 500;
      }
      .floor3-center-item{
        width:23px;
        height:23px;
        margin: 20px 5px;
      }
      p{
        color: #999;
        font-size: 14px;
      }
    }
    .floor3-middle{
      width:390px;
      box-sizing:border-box;
      padding:0 15px;
      height:387px;
      display:flex;
      flex-wrap:wrap;
        li{
          width:180px;
          height:184px;
          .floor3-middle-item{
           display:block;
           width:180px;
           height:184px;
           text-align:center;
           padding:0px 0px;
            @include ta;
           img{
             margin-top:0.8rem;
             &:hover{
               opacity:(0.8);
             }
           }
            p{
              color:#3e8c96;
              &:hover{
                color:$bg;
              }
            }
            span{
              font-size:12px;
              color:#666;
              &:hover{
                color:$bg;
              }
            }
         }

      }
    }
  }
  .floor3-right{
    background: #fff;
    width: 390px;
    height: 450px;
    .floor3-right-top a{
      display:flex;
      width:350px;
      height:60px;
      padding:0px 20px;
      align-items:center;
      h2{
        color: #222;
        font-weight: 500;
      }
      img{
        width: 23px;
        height: 23px;
        margin: 20px 5px;
      }
      p{
        color: #999;
        font-size: 14px;
      }
    }
    .floor3-right-middle{
      width:350px;
      height:250px;
      padding:0 20px;
      &:hover{
        opacity:(0.8);
      }
    }
    .floor3-right-bottom{
        width:350px;
        height:137px;
        padding:0 20px;
      img{
        &:hover{
          opacity:(0.8);
        }
      }
    }
  }
}

#app .product-body{
  position:relative;
  width: 1190px;
  margin:0 auto;
}
#app .product-body .floor3-tag{
  width:100%;
  height:100px;
  display:flex;
  align-items:center;
  .floor3-tag-meun{
    display:flex;
    width:250px;
    height:45px;
    margin:0 auto;
    justify-content:space-between;
    align-items:center;
    h2{
      font: lighter 30px "sans-serif";
      color:#222;
      text-shadow:1px -1.2px 0px #222;
    }
    .floor3-item1{
     width:50px;
     height:3px;
     background:#222;
  }
    .floor3-item2{
      @extend .floor3-item1;
    }
}
}






