#app .product-body .floor5{
  width:100%;
  height:450px;
  display:flex;
  justify-content:space-between;
  img{
    &:hover{
      opacity:(0.8);
    }
  }
  .floor5-left{
    width:390px;
    height:450px;
    position:relative;
    .floor5-top{
      width:340px;
      height:420px;
      border:5px solid #000;
      margin-top:21px;
    }
    .floor5-center{
      width:340px;
      height:420px;
      position:absolute;
      top:0px;left:30px;
      padding-right:0;
      background:#f0f3ef;
    }
    img{
      position:absolute;
      top:0px;left:30px;
    }
  }
  .floor5-center{
    width:350px;
    height:450px;
    position:relative;
    background:#fff;
    padding:0 20px;
    .floor5-center-top{
      display:flex;
      width:100%;
      height:60px;
      align-items:center;
      h3{
        font-weight:200;
        color:#222;
      }
      span{
        padding:0 5px;
      }
      p{
        color:#999;
        font-size:12px;
      }
    }
    .floor5-middle{
      width:350px;
      height:134px;
      border-bottom:1px solid #f0f0f0;
      display:flex;
      padding-bottom:20px;
      li{
        width:175px;
        box-sizing:border-box;
        padding:0 22.5px;
        a img{
          margin-top:15px;
          &:hover{
            opacity:(0.8);
          }
        }
      }
    }
    .my_ul{
      border:0;
    }
  }
  .floor5-right{
    width:350px;
    height:450px;
    background:#fff;
    padding:0 20px;
    .floor5-right-top{
      display:flex;
      width:100%;
      height:80px;
      align-items:center;
      .floor5-right-top-img{
        width:130px;
        height:43px;
        &:hover{
          opacity:(0.8);
        }
      }
      p{
        color:#333;
        margin-left:5px;
      }
    }
    .floor3-right-bottom{
      width:100%;
      height:137px;
      display:flex;
      justify-content:space-between;
      align-items:center;
     img{
       width:100px;
       height:100px;
     }
    }
  }
}