#app .product-body .floor8{
  width:100%;
  height:450px;
  display:flex;
  justify-content:space-between;
  img{
    &:hover{
      opacity:(0.8);
    }
  }
  .floor-left{
    width:390px;
    height:450px;
    position:relative;
    .floor-left-box{
      width:340px;
      height:420px;
      border:5px solid #000;
      margin-top:20px;
    }
    .floor-left-box1{
      width:340px;
      height:420px;
      background:#f0f3ef;
      position:absolute;
      top:0px;left:33px;
    }
    a img{
      position:absolute;
      top:0px;left:35px;
    }
   a img:first-child{
      top:220px;left:35px;
    }
  }
  .floor-center{
    width:350px;
    height:450px;
    padding:0 20px;
    background:#fff;
    .floor-center-top{
      width:100%;
      height:65px;
      display:flex;
      align-items:center;
      h3{
        font-weight:400;
        color:#222;
      }
      span{
        padding: 0 5px;
      }
      p{
        color:#999;
      }
    }
    .floor-center-middle{
      width:100%;
      height:150px;
      display:flex;
      justify-content:space-between;
      border-bottom:1px solid #f0f0f0;
      li{
        width: 130px;
        padding:0 20px;
        height:130px;
        a{
          width:130px;
          height:130px;
          display:block;
        }
      }
    }
    .floor-center-bottom{
      width:100%;
      height:65px;
      display:flex;
      align-items:center;
      h3{
        font-weight:400;
        color:#222;
      }
      span{
        padding: 0 5px;
      }
      p{
        color:#999;
      }
    }
    .floor-center-baseline{
      width:100%;
      height:150px;
      display:flex;
      justify-content:space-between;
      li{
        width:130px;
        height:130px;
        padding:0 20px;
      }
    }
  }
    .floor-right{
      width:350px;
      height:450px;
      padding:0 20px;
      background:#fff;
      .floor-top{
        display:flex;
        width:100%;
        height:60px;
        align-items:center;
        h2 {
          color: #222;
          font-weight: 500;
        }
        img {
          width: 23px;
          height: 23px;
          margin: 20px 5px;
        }
        p {
          color: #999;
          font-size: 14px;
        }
      }
    }
  .floor-bottom{
    width:100%;
    height:355px;
  }
}

